.header_wrapper {
    height: 68px;
    display: flex;
    align-items: center;
    position: sticky;
    padding: 0 28px;
    font-size: 1.4rem;
    background-color: var(--bg-color);
    right: 0;
    left: 0;
    top: 0;
    z-index: 20;
}
.header_logo,
.header_action {
    flex: 1;
}

.header_body {
    flex: 2;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo a {
    display: flex;
}

.header_logo {
    img {
        border-radius: 8px;
        flex-shrink: 0;
        height: 38px;
        object-fit: contain;
        width: 152px;
        max-width: 152px;
    }
}

.header_body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_list {
    display: flex;
    align-items: center;
    flex: 1 1;
}
.header_items {
    padding: 0 0.4rem;
}
.header_links {
    font-size: 1.6rem;
}

.header_action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_bars {
    .icon {
        display: none;
    }
}

.header_body-mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    background-color: #34394e;
    transform: translateX(-100%);
    opacity: 0;
    transition: all ease-in 0.2s;
}
.header_overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header_input:checked ~ .header_overlay {
    display: block;
}
.header_input:checked ~ .header_body-mobile {
    transform: translateX(0);
    opacity: 1;
}

.header_list-mobile {
    margin-top: 24px;
    padding: 16px 0 0 16px;
}

.header_links-mobile {
    display: block;
    padding: 8px 10px;
    font-size: 1.8rem;
    font-weight: 700;

    margin: 10px 0;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    &.active {
        background-color: var(--primary-color);
    }
}
.header_links-mobile {
    .icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        text-align: center;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .header_bars {
        .icon {
            font-size: 2.6rem;
            display: block;
        }
    }
    .header_body,
    .header_action {
        display: none;
    }
}
